/SourcePackages/pdlearn/__pycache__
/SourcePackages/vedio.txt
/SourcePackages/article.txt
/SourcePackages/.idea
SourcePackages/tool/__pycache__/SemanticAnalyze.cpython-36.pyc
SourcePackages/tool/__pycache__/expand_tool.cpython-36.pyc
SourcePackages/新建文件夹/article.txt
SourcePackages/新建文件夹/vedio.txt
SourcePackages/cost_time_zhuan.txt
/SourcePackages/venv
SourcePackages/chrome/debug.log
SourcePackages/pandalearning.exe
/SourcePackages/dist
/SourcePackages/build
SourcePackages/__pycache__/pandalearning.cpython-36.pyc
SourcePackages/pandalearning.spec
